apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ frontend_deployment_name }}"
  namespace: "{{ app_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ frontend_deployment_name }}"
  template:
    metadata:
      labels:
        app: "{{ frontend_deployment_name }}"
    spec:
      containers:
      - name: "{{ frontend_deployment_name }}"
        image: "{{ frontend_image }}"
        ports:
        - containerPort: 80


